:root {
    --fontFam: "Roboto", sans-serif;
    --backgroundScreen: lightgrey;
    --backgroundButtons: #a3c585;
    --backgroundButtonsShadow: #87ab69;
    --backgroundBoxReview: #b9d4a4;
}

body {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    background-color: var(--backgroundScreen);
    font-family: var(--fontFam);
    margin-top: 50px;
    font-size: 18px;
}

.reviews {
    margin-left:20px;
    display: flex;
    flex-direction: column;
    height: 550px;
    overflow: scroll;
    width: 400px;
    border: 1px solid black;
    background-color: white;
  }

.review {
    padding: 5px;
    flex: 1;
    border: 1px solid black;
    height: 250px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: var(--backgroundButton);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: var(--backgroundScreen);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
}

.inputTxt {
    font-family: Arial Bold;
    padding: 5px 4px;
    font-size: 20px;
    border: 2px solid grey;
    background-color: white;
    color: black;
    border-radius: 3px;
    background-position: 10px 10px;
    cursor: pointer;
    margin-top: 30px;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.isClickedTutor {
    display: none;
}

.tutorInfo {
    margin-left: 20px;
}

#addReview .submitBtn {
    margin-left: -10px;
}

.textbox{
    font-family: Arial Bold;
    padding: 5px 4px;
    font-size: 20px;
    border: 2px solid grey;
    background-color: white;
    color: black;
    border-radius: 3px;
    background-position: 10px 10px;
    cursor: pointer;
    margin-top: 30px;
}

.submitBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    display: block;
    padding: 15px 30px;
    border: none;
    font-family: var(--fontFam);
    box-shadow: 3px 3px grey;
    /* color: var(--backgroundScreen); */
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    color:white;
    background-color: black;
}

.submitBtn:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}

.review {
    flex: 1;
}
.update {
    padding: 20px;
    margin: 20px;
    width: fit-content;
    height: 200px;
    background-color: white;
    box-shadow: 3px 3px var(--backgroundButtonsShadow);
    border-radius: 5px;

}


.deleteReview {
    display: block;
    padding: 5px 15px;
    border: none;
    background-color: red;
    box-shadow: 2px 2px #7a1227;
    color: var(--backgroundScreen);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom:10px;
    color:white;
}

.deleteReview:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}

.group
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    padding: 40px;

}

.horizontal
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 200px;
}

.editReview {
    display: block;
    padding: 5px 15px;
    border: none;
    background-color: black;
    box-shadow: 2px 2px grey;
    color: var(--backgroundScreen);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.editReview:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}