:root {
    --fontFam: "Georgia-bold";
    --backgroundScreen: grey;
    --backgroundButtons: grey;
    --backgroundButtonsShadow: black;
    --backgroundLinear: white;
    --backgroundInput: #bde39d;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "lato", sans-serif;
    background-color: lightgrey;
}

.form {
    background: var(--backgroundLinear);
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.inputTxt {
    font-family: Arial Bold;
    padding: 5px 4px;
    font-size: 20px;
    border: 2px solid grey;
    background-color: white;
    color: black;
    border-radius: 3px;
    background-position: 10px 10px;
    cursor: pointer;
    margin-top: 30px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 5px;
}

.title {
    font-size: 50px;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 85%;
    margin-bottom: 10px;
    padding: 10px;
    /* background-color: var(--backgroundButtons); */
}

.label {
    font-family: var(--fontFam);
    position: absolute;
    top: 13px;
    bottom: 11px;
    left: 2px;
    padding: -18px 3px;
    background-color: clear;
    color: black;
    font-size: 20px;
    transition: 0.5s;
    z-index: 0;
    background-color: clear;
    width: 100%;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

.submitBtn {
    display: block;
    /* margin-left: auto; */
    padding: 15px 30px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: var(--backgroundButtons);
    transform: translateY(-2px);
}


.buttons {
    display: flex;
    justify-content: space-evenly;
}