.navbar {
    overflow: hidden;
    background-color: #1f3931;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    display: flex;
    justify-content: space-between;
}


/* Links inside the navbar */

.navbar a {
    float: left;
    display: block;
    color: white;
    text-shadow: 2px 2px #529d73;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}


/* Change background on mouse-over */

.navbar a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navbar-padding {
    margin-top: 5em;
    /* Add a top margin to avoid content overlay */
}