:root {
    --fontFam: "Georgia-bold";
    --backgroundScreen: lightgrey;
    --backgroundButtons: #a3c585;
    --backgroundButtonsShadow: #87ab69;
    --backgroundLinear: linear-gradient(.25turn, #a6cb83, 70%, #718f58);
    --backgroundInput: #bde39d;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: var(--backgroundButtons);
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}

.inputTxt {
    font-family: Arial Bold;
    padding: 5px 4px;
    font-size: 12px;
    border: none;
    background-color: white;
    box-shadow: 3px 3px var(--backgroundButtonsShadow);
    color: black;
    border-radius: 6px;
    background-position: 10px 10px;
    cursor: pointer;
    margin-top: 30px;
}