:root {
    --fontFam: "Georgia-bold";
    --backgroundScreen: lightgrey;
    --backgroundButtons: #a3c585;
    --backgroundButtonsShadow: #87ab69;
    --backgroundBoxReview: #b9d4a4;
}

body {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    background-color: var(--backgroundScreen);
    font-family: var(--fontFam);
    margin-top: 50px;
}

.tutorInfo {
    margin: auto;
    width: 640px;
    padding: 50px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: var(--backgroundButton);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: var(--backgroundScreen);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
}

.inputTxt {
    font-family: Arial Bold;
    padding: 5px 4px;
    font-size: 12px;
    border: none;
    background-color: white;
    box-shadow: 3px 3px var(--backgroundButtonsShadow);
    color: black;
    border-radius: 6px;
    background-position: 10px 10px;
    cursor: pointer;
    margin-top: 30px;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submitBtn {
    margin: auto;
    padding: 50px;
    display: block;
    padding: 15px 30px;
    border: none;
    font-family: var(--fontFam);
    background-color: var(--backgroundButtons);
    box-shadow: 3px 3px var(--backgroundButtonsShadow);
    /* color: var(--backgroundScreen); */
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: var(--backgroundButtonsShadow);
    transform: translateY(-2px);
}

.review {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: fit-content;
    background-color: var(--backgroundBoxReview);
    width: fit-content;
    border-radius: 8px;
    padding: 0px 1px 1px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    margin-bottom: 20px;
}

.deleteReview {
    display: block;
    padding: 5px 15px;
    border: none;
    background-color: red;
    box-shadow: 2px 2px #7a1227;
    color: var(--backgroundScreen);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.deleteReview:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}