:root {
    --fontFam: 'Roboto', sans-serif;
    --backgroundScreen: lightgrey;
    --backgroundButtons: #a3c585;
    --backgroundButtonsShadow: #87ab69;
    --backgroundLinear: linear-gradient(.25turn, #a6cb83, 70%, #718f58);
    --backgroundInput: #bde39d;
    --TextInput: black;
}

body {
    background-color: var(--backgroundScreen);
    font-family: var(--fontFam);
    margin-top: 50px;
}

.classDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px
}

.box {
    font-size: 18px; 
    padding: 10px;
    width: 800px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: none;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    background: var(--backgroundLinear);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: var(--backgroundScreen);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #aaa;
    width: 40%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.inputTxt {
    font-family: var(--fontFam);
    padding: 5px 4px;
    font-size: 12px;
    border: none;
    background-color: white;
    box-shadow: 3px 3px var(--backgroundButtonsShadow);
    color: black;
    border-radius: 6px;
    background-position: 10px 10px;
    cursor: pointer;
    margin-top: 30px;
}



.add {
    font-family: var(--fontFam);
    display: block;
    border: none;
    background-color: rgb(2, 78, 2);
    box-shadow: 3px 3px var(--backgroundButtonsShadow);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 20px;
    padding: 5px 10px;

    width: fit-content;
    height: 50px;
}

.add:hover
{
    opacity: 0.8;
    transform: translateY(-2px);
}

.submitBtn {
    font-family: var(--fontFam);
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: var(--backgroundButtons);
    box-shadow: 3px 3px grey;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    /* centered */
    margin: auto;
    width: 50%;
    padding: 10px;
}

.submitBtn:disabled {
    font-family: var(--fontFam);
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: grey;
    box-shadow: 3px 3px darkgrey;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn[disabled]hover {
    background-color: black;
    transform: translateY(-2px);
}

.submitBtn:hover {
    /* background-color: var(--backgroundButtons); */
    transform: translateY(-2px);
}

.class {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: fit-content;
    background-color: white;
    width: fit-content;
    border-radius: 8px;
    padding: 10px 10px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    margin-bottom: 20px;
}

.deleteClass {
    font-family: var(--fontFam);
    display: block;
    padding: 5px 15px;
    border: none;
    background-color: red;
    box-shadow: 2px 2px #7a1227;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.deleteClass:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}

.editClass {
    font-family: var(--fontFam);
    display: block;
    padding: 5px 15px;
    border: none;
    background-color: black;
    box-shadow: 3px 3px grey;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.finishClass {
    font-family: var(--fontFam);
    display: block;
    padding: 5px 15px;
    border: none;
    background-color: black;
    box-shadow: 3px 3px grey;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.finishClass:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}

.editClass:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}